.translated {
  display: block;
  background-color: rgba(255, 255, 0, 0.05);
}

.text_oriented div {
  text-align: center;
}
.translating {
  display: block;
  background-color: rgba(255, 0, 0, 0.05);
}

.pdftranslated {
  position: absolute;
  display: block;
  margin: 0;
  left: 78%;
  width: 20%;
  min-width: 10%;
  min-height: 10%;
  background-color: white;
  box-shadow: 0 0 8px gray;
  word-wrap: break-word;
  overflow: scroll;
  padding: 10px;
}
.resultarea {
  position: fixed;
  background-color: #f0f0f0;
  border: solid 2px black;
  word-wrap: break-word;
  top: 0px;
  right: 0px;
  padding: 0 10px;
  z-index: 9999;
}
.hovertxt {
  color: black;
}
